[submodule "bebeziansback"]
	path = bebeziansback
	url = https://bebezians-admin@bitbucket.org/bebezians/bebeziansback.git
[submodule "bebeziansfront"]
	path = bebeziansfront
	url = https://bebezians-admin@bitbucket.org/bebezians/bebeziansfront.git
[submodule "bebeziansback-github"]
	path = bebeziansback
	url = https://github.com/oldbuterbrod/SimpleClothingStoreBackend.git
[submodule "bebeziansfront-github"]
	path = bebeziansfront
	url = https://github.com/oldbuterbrod/SimpleClothingStoreFrontend.git